{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
   <div class="container py-5">
        <div class="row">
            {% include "_messages_flash.html.twig" %}
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-between">
                            <h3>Gestion des catégories</h3>
                            <a href="{{ path('category_new') }}" class="btn btn-primary">Ajouter</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for category in categories %}
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>{{ category.name }}</h5>
                                        </div>
                                        <div class="card-body">
                                            <img src="{{ category.image }}" alt="" class="w-100 imageCard">
                                        </div>
                                        <div class="card-footer">
                                            <a href="{{ path('category_edit',{ 'id' : category.id } ) }}" class="btn btn-info w-100">Modifier</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
{% endblock %}
